.offset {
    line-height: 100px;
    text-indent: 80px;
  }

body{
    background-image: url('images/illusion.png');
    background-repeat: repeat;
    background-attachment: fixed;
    

}


.hello_transparency{
    width: 400px;
    border: 5px solid black;
    padding: 40px;
    margin: 40px;
    color: white;
    font-size: 20px;
    text-align: left;
    text-indent: -40px;
    
    
    
}

.hello_graphical_formal{
    width: 400px;
    border: 5px solid black;
    padding: 40px;
    margin: 40px;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    background-image: url('images/formal.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.hello_graphical_casual{
    width: 400px;
    border: 5px solid black;
    padding: 40px;
    margin: 40px;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    background-image: url('images/casual.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.hello_graphical_handwritten{
    width: 400px;
    border: 5px solid black;
    padding: 40px;
    margin: 40px;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    
    background-image: url('images/handwritten.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.hello_smiley{
    width: 400px;
    border: 5px solid black;
    padding: 40px;
    margin: 40px;
    color: white;
    font-size: 20px;
    
    background-image: url('images/smiley.png');
    background-repeat: no-repeat;
    background-position: center;

    text-indent: -40px;
}

.hello_offset{
    width: 400px;
    border: 5px solid black;
    padding: 40px;
    margin: 40px;
    color: white;
    font-size: 20px;
    background-image: url('images/checkbox.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-position-x: 40px;
    text-indent: 40px;
}

